body {
  border: none;
  font-family: sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.form div {
  margin: 1em;
  display: inline-block;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 60px auto 20px;
}

.form h2 {
  text-align: left;
}

.form label {
  text-align: left;
}

.form input {
  margin: 0.2em 0 2em;
  font-size: 1em;
  outline: none;
}

.form-btn {
  background: #f0c14b;
  border: 1px solid #444;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 3px;
  color: #fff;
  color: #000;
  cursor: pointer;
  font-size: 1em;
  padding: 8px;
  width: 100%;
}

.form-btn:hover {
  background-color: #65878f;
}

.required {
  color: rgb(241, 74, 8);
}

.google-btn {
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #4285f6;
  font-size: 1em;
  padding: 0 45px;
  margin: 0 auto;
  width: 300px;
  height: 35px;
  color: #fff;
}

.google-btn i {
  font-size: 1.3em;
}

.google-btn:hover {
  background-color: #bbb;
  color: #4285f6;
}

/******************************/
/*********** HELPERS **********/
/******************************/

.container {
  width: 80%;
  margin: 40px auto 60px;
  text-align: center;
}

.single-productview {
  height: 150px;
  width: 200px;
}

.animated {
  transition: all 0.35s ease;
}

.welcomeuser {
  text-align: right;
}

/******************************/
/******* NAVIGATION BAR *******/
/******************************/

.navbar {
  background-color: #64b3f4;
  background-color: #111;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
}

.logo {
  color: #fff;
}

.navbar nav {
  display: flex;
  align-items: center;
}

.navbar nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2em;
  margin: 1em;
  transition: all 0.35s ease;
}

.logo:hover,
nav a:hover {
  color: #f4cf7d;
}

/******************************/
/******** PRODUCTS NAV ********/
/******************************/

.productsnav {
  padding-left: 60px;
  padding-right: 60px;
  background-color: #fff;
  background-color: #e13b3a;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  color: #fff;
  height: 50px;
}

.productsnav select {
  width: 200px;
  font-size: 1em;
  border: none;
  outline: none;
}

.popular {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.03em;
  width: 800px;
  padding-left: 40px;
  padding-right: 40px;
  border-left: 2px solid #222;
  border-right: 2px solid #222;
}

.popular a {
  color: #fff;
  color: #f4cf7d;
  transition: all 0.35s ease;
}
.popular a:hover {
  text-decoration: underline;
}

.searchbar input {
  width: 150px;
  font-size: 1em;
  border: none;
  outline: none;
  height: 26px;
  padding: 0 5px;
}

/******************************/
/********* CATEGORIES *********/
/******************************/

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
}

.category-item {
  margin-bottom: 60px;
}

.category-snapshot {
  width: 300px;
  height: 200px;
}

/******************************/
/********** PRODUCTS **********/
/******************************/

.products {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product-item {
  width: 250px;
  margin: 30px;
  border: 1px solid #eee;
}

.product-snapshot {
  padding: 30px 0;
  /* border: 1px solid green; */
  height: 200px;
  width: auto;
  max-width: 250px;
}

.product-info {
  background-color: #f7f7f7;
  border: 1px solid #eee;
  padding: 0 20px;
}

.product-info h3 {
  font-size: 1.1em;
  letter-spacing: 0.05em;
  margin-bottom: 0.2em;
}

.product-info span {
  font-size: 0.8em;
  color: #666;
}

.fa.fa-star-o {
  color: #c45500;
}

.product-info .price {
  color: #b12704;
}

.product-info .caption {
  font-size: 0.8em;
}
