body {
  border: none;
  font-family: sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

/******************************/
/*********** HELPERS **********/
/******************************/

.container {
  width: 80%;
  margin: 40px auto 60px;
  text-align: center;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.product-snapshot {
  height: 150px;
  width: 200px;
}

.animated {
  transition: all 0.35s ease;
}

/******************************/
/******* NAVIGATION BAR *******/
/******************************/

.navbar {
  background-color: #64b3f4;
  background-color: #111;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
}

.logo {
  color: #fff;
}

.navbar nav {
  display: flex;
  align-items: center;
}

.navbar nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2em;
  margin: 1em;
  transition: all 0.35s ease;
}

.logo:hover,
nav a:hover {
  color: #f4cf7d;
}

/******************************/
/******** PRODUCTS NAV ********/
/******************************/

.productsnav {
  padding-left: 60px;
  padding-right: 60px;
  background-color: #fff;
  background-color: #e13b3a;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  color: #fff;
  height: 50px;
}

.productsnav select {
  width: 200px;
  font-size: 1em;
  border: none;
  outline: none;
}

.popular {
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.03em;
  width: 800px;
  padding-left: 40px;
  padding-right: 40px;
  border-left: 2px solid #222;
  border-right: 2px solid #222;
}

.popular a {
  color: #fff;
  color: #f4cf7d;
  transition: all 0.35s ease;
}
.popular a:hover {
  text-decoration: underline;
}

.searchbar input {
  width: 150px;
  font-size: 1em;
  border: none;
  outline: none;
  height: 26px;
  padding: 0 5px;
}

/******************************/
/********** PRODUCTS **********/
/******************************/

.products {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  margin: 30px;
}
